@tailwind base;
@tailwind components;
@tailwind utilities;




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #101826;
    color: white;
    
   
    
 
}

input{
    color: black;
}